* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
body {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


.swiper-pagination {
  position: relative;
  margin-top: 35px;
}

.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  background: rgba(251, 0, 1, 0.5);
}

.swiper-pagination-bullet-active {
  background-color: #FB0001;
}